body {
  background-color: #c4c4c4;
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}
:root {
  --header-color: red;
  --paragraph-color: green;
  --font-header: 48px;
  --font-paragraph: 16px;
  --font-button: 20px;
  --font-weight: bold;
  --button-width: 200px;
  --button-height: 60px;
  --button-radius: 5px;
  --button-color: white;
  --button-background: red;
  --button-border: none;
  --button-cursor: pointer;
  --button-tranision: all 0.3s ease-in-out;
}
.containerApp {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stepOneSection {
  width: 50%;
  height: 70%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.header{
  color: var(--header-color);
  font-size: var(--font-header);
  font-weight: var(--font-weight);
}
.info-paragraph{
  color: var(--paragraph-color);
  font-size: var(--font-paragraph);
}
.info-paragraphSecodary{
  color: var(--paragraph-color);
  font-size: var(--font-paragraph);
}
.pickUpButton{
  width: var(--button-width);
  height: var(--button-height);
  border-radius: var(--button-radius);
  background-color: var(--button-background);
  color: var(--button-color);
  font-size: var(--font-button);
  border: var(--button-border);
  cursor: var(--button-cursor);
  transition: var(--button-tranision);
}
.pickUpButton:hover{
  color: var(--button-background);
  box-shadow: inset -100px 0 0 0 var(--button-color), inset 100px 0 0 0 var(--button-color);
}
.stepTwoSection {
  display: none;
  width: 50%;
  height: 70%;
  border: 1px solid black;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.pickUpButtonSecondary{
  width: var(--button-width);
  height: var(--button-height);
  border-radius: var(--button-radius);
  background-color: var(--button-background);
  color: var(--button-color);
  font-size: var(--font-button);
  border: var(--button-border);
  cursor: var(--button-cursor);
  transition: var(--button-tranision);
}
.pickUpButtonSecondary:hover{
  color: var(--button-background);
  box-shadow: inset -100px 0 0 0 var(--button-color), inset 100px 0 0 0 var(--button-color);
}
.modalContainerBackground {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 1;
  justify-content: center;
  align-items: center;
}
.modalContainer {
  background-color: rgba(0,0,0,0.7);
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
}

.modalHeader{

}

.modalInfo{

}
.modalButtonsContainerFlex{

}

.modalButtonEnd{
  width: var(--button-width);
  height: var(--button-height);
  border-radius: var(--button-radius);
  background-color: var(--button-background);
  color: var(--button-color);
  font-size: var(--font-button);
  border: var(--button-border);
  cursor: var(--button-cursor);
  transition: var(--button-tranision);
}
.modalButtonEnd:hover{
  color: var(--button-background);
  box-shadow: inset -100px 0 0 0 var(--button-color), inset 100px 0 0 0 var(--button-color);
}
.modalButtonContinue{
  width: var(--button-width);
  height: var(--button-height);
  border-radius: var(--button-radius);
  background-color: var(--button-background);
  color: var(--button-color);
  font-size: var(--font-button);
  border: var(--button-border);
  cursor: var(--button-cursor);
  transition: var(--button-tranision);
}
.modalButtonContinue:hover{
  color: var(--button-background);
  box-shadow: inset -100px 0 0 0 var(--button-color), inset 100px 0 0 0 var(--button-color);
}

.loaderContainer{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 1;
  justify-content: center;
  align-items: center;
  background-color: fuchsia;
}

.fakeLoader{
  width : 80px;
  height: 80px;
  border: 16px solid white;
  border-top:16px solid #BADA55;
  border-radius: 50%;
}

.spinOn{
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}